<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>
    <script src="b-components.js"></script>
</head>

<body>
    <template id="main-page">
        <div>
            <figure>
                <h3>Switch</h3>
                <p>Enabled</p>
                <b-switch v-model="checked"></b-switch>
                <p>Disabled</p>
                <b-switch v-model="checked" disabled></b-switch>    
            </figure>

            <figure>
                <h3>Switch</h3>
                <p>Enabled</p>
                <b-float-label-input v-model="input" placeholder="Input yout text"></b-float-label-input>
                <p>Disabled</p>
                <b-float-label-input v-model="inputDisabled" placeholder="Input yout text" disabled></b-float-label-input>    
            </figure>
        </div>
        
    </template>
    <div id="app"></div>
    <script>
    var vm = new Vue({
        el: '#app',
        data : {
          checked : true,
          input : 'testing',
          inputDisabled : 'testing- input 2'
        },
        template: '#main-page'
    });
    </script>
</body>

</html>