.b__components.b__dropzone_upload {
    .b__components__dropzone {
        min-height: 100px;
        cursor: pointer;
        margin-bottom: 10px;
        .content {
            text-align: center;
            cursor: pointer;
            padding: 10px;
            border: 2px dashed #f3f3f3;
            background: #fafafa;
            color: #666;
            -webkit-animation: fadeIn;
            animation: fadeIn;
            animation-duration: 1s;
            padding-left: 30%;
            padding-right: 30%;
            .icon-upload{
                width: 30px;
            }
            p{
                margin: 0;
            }
        }

        &+.total-progress {
            .progress {
                margin: 20px 0;
                background-color: map-get($colors, primary);
                border-radius: 0;
                display: none;
                transition: all 1s;
                height: 5px;
                border-radius: 10px;
                -webkit-animation: fadeIn;
                animation: fadeIn;
                animation-duration: 1s;
            }
        }
    }
    .stuff {
        display: none;
    }


    & [class$="__preview__container"] {
        &:after {
            content: '';
            display: block;
            clear: both;
        }
        .preview {
            width: 225px;
            border: 1px solid #dfdfdf;
            border-radius: 5px;
            float: left;
            position: relative;
            -webkit-animation: fadeIn;
            animation: fadeIn;
            animation-duration: 1s;
            margin: 2px !important;
            .dz-thumb {
                width: 44px;
                height: 55px;
                background-image: url(./assets/images/office-icon.svg);
                background-size: 97px 250px;
                background-position: 0 89px;
                overflow: hidden;
                border-radius: 5px;
                transition: .3s all;
                img {
                    width: 100%;
                    margin: 5px 5px 5px 5px;
                }
            }
            .dz-pdf {
                background-position: 0 0;
            }
            .dz-doc {
                background-position: -51px 0px;
            }
            .dz-ppt {
                background-position: -2px -49px;
            }
            .dz-xls {
                background-position: -51px -49px;
            }
            .dz-txt {
                background-position: -2px -98px;
            }
            .dz-csv {
                background-position: -51px -97px;
            }
            .dz-rtf {
                background-position: -2px -146px;
            }
            .dz-zip {
                background-position: -51px -147px;
            }
            .dz-file {
                background-position: -2px -194px;
            }
            .dz-image {
                background-image: none !important;
            }
            .dz-name {
                display: block;
                text-align: center;
                padding: 5px 0;
                position: absolute;
                top: 8px;
                left: 48px;
                max-width: 150px;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: bold;
                color: map-get($colors, primary);
                white-space: nowrap;
            }
            .dz-size {
                text-align: center;
                display: block;
                max-width: 160px;
                font-size: 10.5px;
                position: absolute;
                bottom: 7px;
                left: 50px;
            }
            .remove-archive {
                position: absolute;
                opacity: 0;
                top: 70%;
                left: 96%;
                margin-left: -20px;
                margin-top: -40px;
                font-size: 13px;
                border-radius: 5px;
                border: 1px solid #dfdfdf;
                width: 30px;
                height: 57px;
                line-height: 27px;
                text-align: center;
                padding: 0;
                padding-top: 16px;
                cursor: pointer;
                z-index: 9;
                &:hover {
                    background-color: gainsboro!important;
                    opacity: 1;
                    color: map-get($supportColors, grey-dark);
                }
            }
        }
    }
}

