.b-float-label {
    position: relative;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    label {
        position: absolute;
        margin: 0;
        opacity: 0; 
        top: 0px;
        left: 10px;
        height: 15px;
        font-size: 11px;
        color: #1976d2;
        padding: 0px 5px;
        background-color: #fff;
        transition: all .2s ease-in-out;
    }
    label.active{
        opacity: 1;
        top: -8px; 
    }
    input.b__input {
        width: 100%;
        outline: 0;
        line-height: 1.5;
        font-size: 14px;
        border-radius: 3px;
        border: 1px solid #dfdfdf;
        background-color: #fff;
        box-sizing: border-box;
        transition: all .2s ease-in-out;
        padding: 6px 15px;
        &:disabled {
            border-color: whitesmoke;
            color: #c5c5c5;
            cursor: no-drop;
        }
    }
}
