.b__components{
	-webkit-font-smoothing: antialiased;
	&.has-error {
		label {
			color : map-get($colors, danger);
		}
		input.b__input {
			border-color : map-get($colors, danger);
			box-shadow: 0 0px 4px map-get($colors, danger);
		}
	}
	input.b__input, textarea, select{
		&:focus{
			box-shadow: 0 0px 4px #0082d5;
		}
	}
}
