.b__components{
	-webkit-font-smoothing: antialiased;
	&.has-error {
		label {
			color : map-get($colors, danger);
		}
		input.b__input {
			border-color : map-get($colors, danger);
			&:focus{
				border: 1px solid map-get($colors, danger)!important;
			}
		}
	}
	input.b__input, textarea, select{
		&:focus{
			border: 1px solid #0082d5;
		}
	}
}

