$colors : (
	primary : #108ee9,
	primary-light : #49a9ee,
	primary-dark : #0e77ca,
	danger : #f04134,
	danger-light : #f46e65,
	danger-dark : #d73435,
	warn : #ffbf00,
	warn-light : #ffce3d,
	warn-dark : #e09a00,
	success : #00a854,
	success-ligth : #3dbd7d,
	success-dark : #00924c,
)